html, body {
	margin: 0;
	padding: 0;
}

#main-container {
	width: 270px;
	padding: 15px 18px 18px 18px;
}

#header {
	float: left;
	width: 100%;
}

#title {
	font-size: 14px;
	margin-bottom: 10px;
}

#details {
	float: left;
	width: 100%;
	margin-top: 8px;
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

h4{
	padding-right: 13px;
	text-align: center;
}
#URLcheck {

}
#TextCheck{

}
#HeadlineCheck{

}
#SpellCheck{

}

.check {
	margin-top: 10px;
	height: 28px;
	width: 100%;
	outline: none;
	text-align: center;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	line-height: 200%;
	box-sizing: border-box;
}

.check-red {
	background-color: #d5342f;
}

.check-green {
	background-color: #48c341;
}

.check-yellow {
	background-color: #d5a52f;
}

.subheadline {
	margin-top: 15px;
}

#virus {
	float: left;
	display: block;
	margin: 10px 5px 10px 0px;
	width: 112px;
	height: 112px;
	background-size: cover;
}

#virus.virus-blue {
	background-image: url("../images/CoronaCheckerIcon_Blue.png");
}

#virus.virus-green {
	background-image: url("../images/CoronaCheckerIcon_Green.png");
}

#virus.virus-yellow {
	background-image: url("../images/CoronaCheckerIcon_Orange.png");
}

#virus.virus-red {
	background-image: url("../images/CoronaCheckerIcon_Red.png");
}

#trafficCorona{
	width: 100%;
}

#speech {
	background-image: url("../images/speech_bubble.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 13px 13px 13px 30px;
	box-sizing: border-box;
	float: left;
	width: 148px;
	height: 93px;
	margin-top: 19px;
	margin-left: 5px;
	font-size: 18px;
	font-weight: 800;
}

#poc {
	margin-top: 20px;
	display: none
}

.clear {
	display: block;
	clear: both;
}

.hide {
	display: none;
}

.separator {
	border: 1px solid grey;
	width: 100%;
}